<div class="user-greeting">
    <div class="name">
        Hi Mr. Michael,
    </div>
    <div class="greeting">
        Welcome Back!
    </div>
</div>
<app-search-bar></app-search-bar>
<div class="drink-category"></div>
<div class="product-list grid grid-cols-2 gap-4 content-end">
    <!-- <div class="product-list-item" *ngFor="let product of products">
        <a [routerLink]="[product.id + '-' + product.brand.toLowerCase().split(' ').join('')]"> -->
            <app-product-item 
                *ngFor="let product of products; index as i" 
                [product]="product"
                [index]="i"
                ></app-product-item>
        <!-- </a>
    </div> -->
</div>

